<section class="gallery">
    <img class="main-img" src="../../../assets/nike-airmax.webp"/>
    <div class="gallery-strip">
        <img class="gallery-img" src="../../../assets/nike-airmax.webp"/>
        <img class="gallery-img" src="../../../assets/nike-airmax.webp"/>
        <img class="gallery-img" src="../../../assets/nike-airmax.webp"/>
    </div>
</section>
<section class="details">
    <div class="title-distance">
        <h1>Nike Air Max 90 SE</h1>
        <p>< 1 mile away</p>
    </div>
    <div class="rating">
        <p class="value">4.6<span>/5</span></p>
        <div class="stars">
            <mat-icon >star</mat-icon>
            <mat-icon >star</mat-icon>
            <mat-icon >star</mat-icon>
            <mat-icon >star</mat-icon>
        </div>
    </div>
</section>